@*根节点占据全部视觉宽高，溢出隐藏*@
<RazorUI.ImportHelper.ImportRazorUIGlobalStyle />

<div class="root"
	 style="width: @(Width);
			height: @(Height);">

	<div class="left-bar"
		 style="width: @(LeftBarWidth);
			    background-color: @(LeftBarBackgroundColor);
				color: @(LeftBarFontColor);">

		<div class="hide-left-menu-button" @onclick="ToggleHideLeftMenu">
			@*☰☱☲☳☴☵☶☷*@
			<div class="hide-left-menu-button-text">☰</div>
		</div>

		<div class="left-bar-content">
			@LeftBarContent
		</div>
	</div>

	<div class="left-menu"
		 style="width: @(UsedLeftMenuWidth);
				background-color: @(LeftMenuBackgroundColor);
				border-style: @(LeftMenuBorderStyle);
				border-color: @(LeftMenuBorderColor);
				border-width: @(LeftMenuBorderWidth);
				transition: width 0.4s;">

		@LeftMenu
	</div>

	<div class="top-bar"
		 style="height: @(TopBarHeight);
				background-color: @(TopBarBackgroundColor);
				border-style: @(TopBarBorderStyle);
				border-color: @(TopBarBorderColor);
				border-width: @(TopBarBorderWidth);">

		@TopBar
	</div>

	<div class="content">
		@Content
	</div>

	<div class="state-bar">
		@StateBar
	</div>

</div>
